/*=============================================
=            Normalize            =
=============================================*/

@import './components/normalize';

* {
  box-sizing: border-box;
  color: #2b2d31;
}

html,
body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

/*=====  End of Normalize  ======*/

/*=============================================
=            Variables            =
=============================================*/
@import './variables/color';
@import './variables/breakpoint';

/*=============================================
=            Mixins            =
=============================================*/
@import './mixins/mixins';

/*=============================================
=            Grid System            =
=============================================*/
@import './components/grid';

/*=============================================
=            Typography            =
=============================================*/
@import './components/typography';

/*=============================================
=            Layout            =
=============================================*/
@import './components//layout';

/*=============================================
=            Utility            =
=============================================*/
@import './components/utility';

/*=============================================
=            Button            =
=============================================*/
@import './components//button';

/*=============================================
=            Input            =
=============================================*/
@import './components/input';

/*=============================================
=            List            =
=============================================*/
@import './components/list';

/*=============================================
=            Alert            =
=============================================*/
@import './components/alert';
