/*=============================================
=            Utility            =
=============================================*/
.w-full {
  width: 100%;
}

.w-max-full {
  max-width: 100%;
}

.w-fit {
  width: fit-content;
}
