/*=============================================
=            Color Variables            =
=============================================*/
$primary-color: #00a8e8;
$dark-primary-color: #007ea7;

$error-color: #c53030;
$success-color: #07a14c;
